<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <nav class="navbar">
        <img src="..\assets\m_arte.png" width="100px" height="100px" routerLink="">
        <div class="search-box">
            <input type="text" class="search-input" placeholder="Pesquisar">
            <button class="search-button"><i class="fas fa-search"></i></button>
        </div>
        <button class="chat-button"><i class="fas fa-comment-alt"></i> Chat</button>
    </nav>

    <div class="container-principal">
        <div class="card" *ngFor="let item of contratantes"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome:<h1>{{item.nome}}</h1>Tipo:<h1>{{item.procura}}</h1></th>
                        <th>Entrada:<h1>{{item.entrada}}</h1>Saida:<h1>{{item.saida}}</h1></th>
                        <th>Pagamento:<h1>{{item.pagamento}}</h1></th>
                        <th>Descrição:<h1>{{item.descricao}}</h1></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


    <div class="section1">
        <!-- Conteúdo da segunda seção -->
        <div class="title-image-container">
            <img src="..\assets\fita.png" alt="Imagem" width="200px" height="150px">
            <h2><br>ÁREA<br> CULTURAL</h2>
        </div>
    </div>
</body>
