<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<body>
    <div class="container1">
        <div class="fundo">
            <div class="nav">
                <img srec="..assets\m_arte.png" width="100px" height="100px" routerLink="">
                <ul>
                    <li><a href="#MARTE">Página Principal</a></li>
                    <li><a href="#visoes">Visões</a></li>
                    <li><a href="#valores">Valores</a></li>
                  </ul>
            </div>
            <div class="container-perfil">
                <h1><img class="perfil" src="../assets/user_card.png" alt="Avatar" style="width:90px"></h1>
                <h2>Usuário Contratante<br><br>legenda</h2>
                <h3><b>Informações de Contato</b><br><br>(11) xxxx-xxxxx (Whatsapp)</h3>
                <h4>seuemail@email.com (Email)</h4>
                <h5><i class="fas fa-calendar" style="color:blueviolet"></i>&nbsp;Agenda/Eventos</h5>
                <h6><i class="fas fa-star" style="color:yellow"></i>Artistas Favoritos</h6>
                </div>
        </div>
        <div class="calender">
        </div>
    </div>
        <div class="avaliacoes">
                <div class="container-avaliacoes">
                    <h2>*AVALIAÇÕES RECENTES*</h2>
                </div>
        </div>
        <div class="contratos">
            <div class="container-contratos">
                <h2>*INFORMAÇÕES SOBRE CONTRATOS*</h2>
         </div>
        </div>
        <div class="chat">
            <div class="container-chat">
                <h2>C</h2>
                <h2>H</h2>
                <h2>A</h2>
                <h2>T</h2>
                <i class="fas fa-comment-alt" style="color:rgb(202, 8, 8)"></i>
            </div>
    </div>
</body>
